@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 18%;
    cursor: pointer;
    animation: zoomin 1s linear 1;
    animation-delay: 1s;
    visibility: hidden;
    animation-fill-mode: forwards;
    opacity: .8;
}

@keyframes zoomin {
    0% {
        transform: scale(0.1);
        visibility: visible;
    }
    100% {
        transform: scale(1);
        visibility: visible;
    }
}

.text-box {
    margin-left: 47vw;
    margin-top: 4vh;
}

.btn:link,
.btn:visited {
    text-decoration: none;
    font-size: 22.5px;
    font-weight: bold;
    padding: 10px 15px;
    display: inline-block;
    transition: all .2s;
    position: absolute;
    font-family: "Rajdhani", sans-serif;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: transparent;
    color: #ffbb00;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    background-color: #fff;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}